
.dropdown menu {
  border: 1px solid black;
  border-radius: 5px;
  list-style-type: none;
  padding-left: 0;
  width: 150px;
}

.dropdown li {
  border-top: 1px solid black;
  cursor: pointer;
  padding: 5px 10px;
}

.dropdown li:first-child {
  border-top: 0;
}
