/* Sidebar css */

.sidebar {
  background-color: var(--dark-background-color-secondary);
  height: 100%;
  max-width: 500px;
  position: absolute;
  top: 0;
  transition: transform 0.3s ease-in-out, right 0.3s ease-in-out;
  width: 100%;
}

.sidebar-closed {
  right: -500px;
  transform: translateX(0);
}

.sidebar-open {
  right: 0;
  transform: translateX(0);
}
